<section fxLayoutAlign="center">
    <mat-card>
      <form
         fxLayout="column"
         fxLayoutAlign="center center"
         fxLayoutGap="10px"
         #f="ngForm"
         (ngSubmit)="loginUsuario(f)"
      >
        <mat-form-field>
           <mat-label>Ingrese Usuario</mat-label>
           <input matInput placeholder="Usuario" name="user" ngModel required>
           <mat-error>Debe ingresar un usuario</mat-error>
        </mat-form-field>
        <mat-form-field>
         <mat-label>Ingrese Password</mat-label>
         <input type="password" matInput placeholder="Password" name="password" ngModel required>
         <mat-error>Debe ingresar un password</mat-error>
      </mat-form-field>
      <button mat-raised-button class="colorDos" type="submit">Ingresar</button>
      </form>
   </mat-card>
  </section>
  
  